# systemd startup script

[Unit]
Description=Create a socks proxy at startup
After=sys-subsystem-net-devices-wlan0.device network.target

[Service]
ExecStart=/home/ludo/bin/socks.sh start
ExecStop=/home/ludo/bin/socks.sh stop
Type=forking
Environment="HOME=/home/ludo"
Restart=always
RestartSec=30sec

[Install]
WantedBy=default.target
